Repository project-studying-dotnet/Streetcode-Server-June, pull requests merged in 2024-06, with the labels that each got.

#43 Action/40/add atomated testing workflow
  .github/workflows/auto-unit-testing.yml
Labels: enchance-dev-process

#29 Add namespace to DbUpdate.Program, change order of usings
  Streetcode/DbUpdate/Program.cs
Labels: bug

#53 test/44:created unit test for Sources/GetCategoriesByStreetcodeId
  Streetcode/Streetcode.XUnitTest/MediatRTests/Sources/GetCategoriesByStreetcodeIdHandlerTests.cs
Labels: unit-test

#57 Unit tests for Team/GetById Handler
  Streetcode/Streetcode.XUnitTest/MediatRTests/Team/GetByIdTeamTests.cs
  Streetcode/Streetcode.XUnitTest/Streetcode.XUnitTest.csproj
Labels: unit-test

#39 Created tests for Partners/getPartnersById
  Streetcode/Streetcode.XUnitTest/MediatRTests/Partners/GetPartnerByIdHandlerTests.cs
Labels: unit-test

#28 Unit tests for Team/GetAllTeam Handler
  Streetcode/Streetcode.XUnitTest/MediatRTests/Team/GetAllTeamHandlerTests.cs
Labels: unit-test

#24 created tests for getAllPartnersHandler_Handler
  Streetcode/Streetcode.XUnitTest/MediatRTests/Partners/GetAllPartnersHandlerTests.cs
Labels: unit-test

#41 write tests for partners/create handler
  Streetcode/Streetcode.XUnitTest/MediatRTests/Partners/CreatePartnerHandlerTests.cs
Labels: unit-test

#25 Unit testing for GetAllTerms_Handler_Testing finished
  Streetcode/Streetcode.XUnitTest/MediatRTests/MapperConfigure/Mapper_Configurator.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Term/GetAllTermsHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/Streetcode.XUnitTest.csproj
Labels: unit-test

#49 test/48 : write unit test for AdditionalContent/Tag GetTagById
  Streetcode/Streetcode.XUnitTest/MediatRTests/AdditionalContent/Tag/GetTagByIdHandlerTest.cs
Labels: unit-test

#52 test/50: write unit test for AdditionalContent/Tag GetAll
  Streetcode/Streetcode.XUnitTest/MediatRTests/AdditionalContent/Tag/GetAllTagsHandlerTests.cs
Labels: unit-test

#47 test/16: write unit test for Media/Art GetArtById
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Art/GetArtByIdTest.cs
Labels: unit-test

#64 added params to executeSqlRaw
  Streetcode/Streetcode.DAL/Repositories/Interfaces/Base/IRepositoryBase.cs
  Streetcode/Streetcode.DAL/Repositories/Realizations/Base/RepositoryBase.cs
Labels: vulnerability

#68 Removed DistinctBy due to using GroupBy and First.
  Streetcode/Streetcode.BLL/MediatR/Toponyms/GetByStreetcodeId/GetToponymsByStreetcodeIdHandler.cs
Labels: bug

#66 Test/ssad 0008/unit test streetcode/related figure/get by streetcode
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/RelatedFigure/GetByStreetcodeId/GetRelatedFiguresByStreetcodeIdHandlerTests.cs
Labels: unit-test

#67 Task 9 - GetAllArts - add unit tests
  Streetcode/Streetcode.WebApi/Properties/launchSettings.json
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Art/GetAllArtsHandlerTest.cs
  Streetcode/settings.ruleset
Labels: unit-test

#84 Get term by id unit test done
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Term/GetTermByIdHandlerTests.cs
Labels: unit-test

#85 ssl tls vulnerability fixed
  Streetcode/Streetcode.WebApi/Utils/WebParsingUtils.cs
Labels: vulnerability

#99 delete of streetcode content works correctly
  Streetcode/Streetcode.BLL/Mapping/Sources/StreetcodeCategoryContentProfile.cs
  Streetcode/Streetcode.BLL/MediatR/Sources/SourceLinkCategory/DeleteContentCategory/DeleteContentCategoryHandler.cs
  Streetcode/Streetcode.BLL/MediatR/Sources/SourceLinkCategory/DeleteContentCategory/DeleteContentCategoryQuery.cs
  Streetcode/Streetcode.WebApi/Controllers/Source/SourcesController.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Sources/DeleteContentCategoryHandlerTests.cs
Labels: user story

#102 write tests for instagram GetAll + write posts > 0 check to handler
  Streetcode/Streetcode.BLL/MediatR/Instagram/GetAll/GetAllPostsHandler.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Instagram/GetAllPostsHandlerTests.cs
Labels: unit-test

#107 103 unit testing and refactor for SubtitleGetAll
  Streetcode/Streetcode.BLL/MediatR/AdditionalContent/Subtitle/GetAll/GetAllSubtitlesHandler.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/AdditionalContent/Subtitle/GetAllSubtitlesHandlerTests.cs
Labels: unit-test

#104 Feat/88/admin facts create new fact
  Streetcode/Streetcode.BLL/DTO/Streetcode/TextContent/Fact/FactDTO.cs
  Streetcode/Streetcode.BLL/DTO/Streetcode/TextContent/Fact/FactUpdateCreateDto.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Fact/Create/CreateFactCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Fact/Create/CreateFactHandler.cs
  Streetcode/Streetcode.DAL/Entities/Streetcode/TextContent/Fact.cs
  Streetcode/Streetcode.WebApi/Controllers/Streetcode/TextContent/FactController.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Streetcode/Facts/CreateFactHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/Streetcode.XUnitTest.csproj
Labels: feature

#96 71 Global Exception Handler Middleware
  Streetcode/Streetcode.BLL/Exceptions/ErrorDetailsDto.cs
  Streetcode/Streetcode.BLL/Exceptions/RequestException.cs
  Streetcode/Streetcode.BLL/Streetcode.BLL.csproj
  Streetcode/Streetcode.WebApi/Extensions/ExceptionExtensions.cs
  Streetcode/Streetcode.WebApi/Middlewares/GenericExceptionHandlerMiddleware.cs
  Streetcode/Streetcode.WebApi/Program.cs
Labels: enhancement

#157 add newpartner is null check to handler
  Streetcode/Streetcode.BLL/MediatR/Partners/Create/CreatePartnerHandler.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Partners/CreatePartnerHandlerTests.cs
Labels: refactoring

#160 write tests for delete partner handler
  Streetcode/Streetcode.XUnitTest/MediatRTests/Partners/DeletePartnerHandlerTests.cs
Labels: unit-test

#213 Feature/178/seed init identity data
  Streetcode/Streetcode.WebApi/Extensions/SeedingLocalExtension.cs
  Streetcode/Streetcode.WebApi/Program.cs
Labels: feature
